body { 
    background: url(https://th.bing.com/th/id/OIP.p9T9jnhcfGlW3SlXdm5izQHaEK?pid=ImgDet&rs=1);
    background-size:2500px;
  }

  h1,h2,h3,h4,p,ul {
    text-align: center;
      color: black;
      font:bolder;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 24;
    }
    
  a {text-align: center;}
