/* body { 
    background: url(https://i.ytimg.com/vi/Kf4GkHsRB2w/maxresdefault.jpg);
    background-size:backdrop;
  } */

  body { 
    background: url(https://i.ytimg.com/vi/Kf4GkHsRB2w/maxresdefault.jpg);
    border-color: rgb(205, 255, 243) ;
    background-size:cover;
    color: whitesmoke;
    font-size:large;
    border-image: url(https://newcastlebeach.org/images/flower-borders-and-frames-7.png);
       }

  h1 {text-align: center;}
  h2 {text-align: center;}
  h3 {text-align: center;}

  h4 {text-align: center;
      color: white;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 14;
    }
    
  ul {text-align: center;}
  p {text-align: center; }
  a {text-align: center;}
